@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<div class="select-div">
    <form class="row">
        <div class="col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-3">
            <label asp-for="HotelName" class="form-label"></label>
            <input asp-for="HotelName" class="form-control">
            <span asp-validation-for="HotelName" class="small text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="HotelName" class="form-label"></label>
            <input asp-for="HotelName" class="form-control">
            <span asp-validation-for="HotelName" class="small text-danger"></span>
        </div>
        <div class="col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </form>
</div>*@