@model FilterRoomsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Date picker</h3>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <form method="post">
        <div class="card-body">
            <div class="reservation">
                <label asp-for="CityId" style="margin-bottom: 8px"></label>
                <select asp-for="CityId" class="form-control" style="height: 40px; width: 180px">
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="reservation">
                <label asp-for="StartDate" class="form-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" style="height: 40px; width: 180px">
                <span asp-validation-for="StartDate" class="small text-danger"></span>
            </div>
            <div class="reservation">
                <label asp-for="EndDate" class="form-label"></label>
                <input asp-for="EndDate" class="form-control" style="height: 40px; width: 180px">
                <span asp-validation-for="EndDate" class="small text-danger"></span>
            </div>
            <div class="reservation">
                <label asp-for="CountOfPeople" class="form-label"></label>
                <input asp-for="CountOfPeople" type="number" class="form-control" style="height: 40px; width: 180px">
                <span asp-validation-for="CountOfPeople" class="small text-danger"></span>
            </div>
            <input class="btn btn-primary searchButton" type="submit" value="Search" />
        </div>
    </form>
</div>