@model ReserveRoomViewModel

@{
    ViewData["Title"] = "Reserve Room";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-lg-3 col-xl-6">
        <h2 class="heading-margin text-center">Reserve Room</h2>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <form method="post">
            <div class="mb-3">
                <label asp-for="StartDate" class="form-label"></label>
                <input asp-for="StartDate" class="form-control">
                <span asp-validation-for="StartDate" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EndDate" class="form-label"></label>
                <input asp-for="EndDate" class="form-control">
                <span asp-validation-for="EndDate" class="small text-danger"></span>
            </div>

            <input id="reserveButton" class="btn btn-primary" type="submit" onclick="return confirm('Are you sure you want to reserve the room?');" value="Reserve" />
        </form>
    </div>
</div>