html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.description-jumbotron {
    margin-top: 35px;
    margin-bottom: 40px;
}

.room-card {
    height: 150px;
    width: 200px;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.button {
    margin-top: 40px;
}

.h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}