html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.description-jumbotron {
    margin-top: 35px;
    margin-bottom: 40px;
}

.room-card {
    width: 200px;
    display: inline-block;
    height: 100%;
}

.reservation {
    display: inline-block;
    float: left;
    margin-left: 50px;
    text-align: center;
}

.searchButton {
    margin-left: 40px;
    margin-top: 33px;
    width: 100px;
}

.span {
    margin-right: 20px;
}

.button {
    margin-top: 40px;
}

.h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.select-div {
    text-align: center;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}