@model List<AdminHotelViewModel>

@{
    ViewData["Title"] = "Manage Hotels";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Application Hotels</h3>
                <form asp-area="admin" asp-controller="Hotels" asp-action="ManageHotels" method="get" style="margin-top:20px">
                    <p>
                        <input type="text" id="hotelName" name="SearchString" placeholder="Name of Hotel..." />
                        <input type="submit" value="Search" />
                    </p>
                </form>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Hotel</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var hotel in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@hotel.PrimaryImageUrl" class="adminHotelImage" alt="Hotel image">
                                    </td>
                                    <td>@hotel.Name</td>
                                    <td>
                                        <a asp-area="admin" asp-action="edit" asp-controller="hotels" asp-route-id="@hotel.Id" class="btn btn-block btn-outline-info btn-xs">Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#hotelName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/admin/Hotels/AutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response(data)
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    //get selected value
                    //$("#personNameValue").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
    }