@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Hotels" asp-action="All">Hotels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="MyReservations">My Reservations</a>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
            </li>
        }
    }
</ul>