@model IEnumerable<HotelCardViewModel>

@{
    ViewData["Title"] = "All Hotels";
}

<h1 class="text-center">Hotels</h1>

<form asp-controller="Hotels" asp-action="All" method="get">
    <h4>Search</h4>
    <p>
        <input type="text" id="hotelName" name="SearchString" placeholder="Name of Hotel..." />
        <input type="submit" value="Search" />
    </p>
</form>

<div class="row">
    @foreach (var hotel in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@hotel.PrimaryImageUrl" class="card-img-top" alt="@hotel.HotelName">
                <div class="card-body text-center">
                    <h5 class="card-title">@hotel.HotelName</h5>
                    <a asp-controller="Hotels" asp-action="Details" asp-route-id="@hotel.Id" class="btn-btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#hotelName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Hotels/AutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response(data)
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    //get selected value
                    //$("#personNameValue").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
    }